
<% if @histories %>
<table class="table table-bordered table-hover table-striped">
  <thread>
    <tr>
      <td colspan="2">
	<div align="center">登録済みHP</div>
      </td>
    </tr>
  </thread>
  <tbody>
  <% @histories.each do |hist| %>
  <% readed = hist[:last_update].to_datetime >= hist[:last_check] %>
  <tr class="<%= "info" if readed %>">
    <td class="span2"> 
      <% if readed %>
        未読
      <% else %>
        既読
      <% end %>
    </td>
    <td class="span7">
      <a href="<%= url_for :action => :redirect , :url => hist[:url] , :url_id => hist[:url_id] %>" target="_blank">
      <% if hist[:title] && hist[:title].size > 0 %>
        <%= hist[:title] %>
      <% else %>
        <%= hist[:url] %>
      <% end %>
      </a>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>



<% if @populars.exists? %>
<table class="table table-bordered table-hover table-striped">
  <thread>
  <tr>
    <td colspan="<%= current_user ? 3 : 2 %>">
      <div align="center">人気のHP</div>
    </td>
  </tr>
  </thread>
  <tbody>
  <% @populars.each do |popu| %>
  <tr>
    <td class="span2" >
      <%= popu[:count] %>ユーザ
    </td>
    <td class="span<%= current_user ? 7 : 5 %>">
      <%= popu[:id] %><br />
      <%= popu[:url] %><br />
      <a href="<%= url_for :action => :redirect , :url => popu[:url] , :url_id => popu[:id] %>" target="_blank">
      <% if popu[:title] && popu[:title].size > 0 %>
        <%= popu[:title] %>
      <% else %>
        <%= popu[:url] %>
      <% end %>
      </a>
    </td>
    <% if current_user %>
    <td class="span2 btn <%="btn-info" unless @url_ids.include?(popu[:id])%>">
      <div align="center">
	<div id="url_<%= popu[:id] %>">
	  <% if @url_ids.include?(popu[:id]) %>
	    登録済
	  <% else %>
	    <%= link_to "登録",{ :action => :add_url, :urls => popu[:url], :id => popu[:id]} , {:method => :post }  %>
	  <% end %>
	</div>
      </div>
    </td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
<% end %>

